core/artifacts/src/main/resources/META-INF/xsd/PatientDemographics.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.redhat.com"
    elementFormDefault="qualified" attributeFormDefault="unqualified"
    targetNamespace="http://www.redhat.com">
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="address" type="address" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:int"/>
            <xs:attribute name="firstName" type="xs:string" />
            <xs:attribute name="lastName" type="xs:string" />
        </xs:complexType>
    </xs:element>


    <xs:complexType name="address">
        <xs:attribute name="addressLine1" type="xs:string" />
        <xs:attribute name="addressLine2" type="xs:string" />
        <xs:attribute name="state" type="xs:string" />
        <xs:attribute name="city" type="xs:string" />
        <xs:attribute name="zipCode" type="xs:string" />
    </xs:complexType>
</xs:schema>